.gbc_ButtonWidget {
  display: flex;
  padding: 0 $gbc-margin-ratio*4px;
  cursor: pointer;

  &.gbc_Focus>.mt-button{
    background-color: $gbc-primary-medium-color;
  }

  /* Needed for IE */
  .g_measuring &.g_measureable{
    flex-direction: column;
  }
}
[__ButtonWidget].mt-button {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  user-select: none;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  min-width: $field-default-height;
  min-height: $field-default-height;
  >.gbc_imageContainer {
    padding:  $gbc-margin-ratio*2px;
    > .gbc_ImageWidget {
      fill: $text-light-87;
      min-width: 16px;
      max-width: 64px;
      max-height: 64px;
      overflow: hidden;
    }
    &.gbc_autoScale {
      overflow: hidden;
      width: $gbc-font-size-ratio*24px;
      height: $gbc-font-size-ratio*24px;
      > .gbc_ImageWidget {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        img {
          flex: 0 0 auto;
          display: block;
          align-self: center;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .g_measuring & {
    height:auto;
  }
}
span[__ButtonWidget] {
  flex: 1 1 auto;
  text-align: center;
}

[__ButtonWidget].hasImage span[__ButtonWidget] {
  text-align: left;
}

[__ButtonWidget].hasImage:not(.hasText) > .mt-button>span {
  display: none;
}
