
body {
	font-family: 'Arial', sans-serif;
	color: #727272;
	font-size: 16px;
	font-weight: 300;

/* add this for fixed size app centered on a black background.
	background-color: black;
	width: 1280px;
	margin: 0px auto;
*/
}

