.gbc_MyEditWidget {
  > .title {
    padding: 0 5px;
    font-size: 8pt;
    color: $mt-grey-300;
    text-transform: none;
  }
  input {
    flex: 1 1 0;
    line-height: 32px;
    width: 100%;
  }
}
