
.gbc_ImageWidget.gbc_fixedSvg > svg {
  min-width: 24px;
  min-height: 24px;
}

[__ButtonWidget].mt-button {
	color: $gbc-primary-light-color;
  >.gbc_imageContainer {
    padding:  $gbc-margin-ratio*2px;
    > .gbc_ImageWidget {
      min-width: 24px;
      min-height: 24px;
      max-width: 64px;
      max-height: 64px;
      overflow: hidden;
    }
  }
	svg {
    fill: $gbc-primary-light-color;
    fill-opacity: 1;
  }
}
